.header {
    display: flex;
    text-align: center;
    font-size: 64px;
    justify-content: center;
    font-style: italic;
    font-family: cursive;
    margin: 100px auto;
}

.content {
    display: flex;
    justify-content: center;
    gap: 2.5em;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    font-family: cursive;
    margin: 0 auto;
}

img {
    width: 350px;
    height: 500px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item img:hover {
    transform: scale3d(1.05);
    transition: all ease;
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(130, 215, 150);
}

body {
    background-color: #bdf2f2;
}