.header {
    display: flex;
    text-align: center;
    font-size: 64px;
    justify-content: center;
    font-style: italic;
    font-family: cursive;
}

.box {
    background-color: rgb(158, 54, 6);
    padding: 200px;
    margin: 100px;
    text-align: center;
}

.text {
    font-size: 26px;
    font-style: italic;
}

body {
    background-color: aqua;
}